doctype 5
html
	head
		title MARKET
		link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/merchant.css')
		//link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='/javascripts/jquery.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/javascripts/web.js')
		script(type='text/javascript', src='/javascripts/underscore.js')
		script(type='text/javascript', src='/components/bootstrap/dist/js/bootstrap.js')
		script(type='text/javascript', src='/templates.js')

	body
		block content
