.middle
	text-align center
th
	vertical-align: middle !important
#content-block
	border: solid 1px #c0c0c0;
	min-height: 800px;
.no-request
	padding: 20px;
	background: #f0f0f0;
	margin 20px 0
	h4
		font-size 12px
.total-row
	td:nth-child(4)
	td:nth-child(5)
		font-weight bold
		background #f0f0f0
	td:nth-child(4)
		text-align right
.extender
	small
		margin-right 5px
		color #428bca
		cursor pointer
		&:hover
			text-decoration underline
