*
	font-family "Open Sans", sans-serif;
header
	margin-bottom 1.3em

.menu
	padding-right: 0px;
	background rgb(56, 71, 80)
	h3
		color: rgb(171, 218, 255);
		font-weight: bold;
		font-family: "Open sans";
	li
		a
			color white
			display: block;
			padding: 10px;
			text-decoration none
			&:hover
				background rgb(45, 49, 45)
				color grey
	.active
		font-weight 600
		background: white;
		color: rgb(0, 56, 56);
		col=rgb(241, 221, 196);
		border-left: 3px solid col
		border-top: 3px solid col
		border-bottom: 3px solid col


boxlen=200
rlen(t)
	(t*boxlen)px

.treemap
	position relative
	div
		height boxlen px
		min-width boxlen px
		background #f0f0f0
		border solid 1px #c0c0c0
		position absolute
		display inline-block
		overflow hidden
.tm-r5
	width rlen(4)
